.lds-hourglass {
    position:fixed;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
  }
  .lds-hourglass:after {
    content: "";
    display: block;
    position:absolute;
    left:48%;
    top:40%;
    width:40px;
    height:40px;
    border-width: 4px;
    border-radius:50%;
    border: 32px solid black;
    border-color:black transparent black transparent;
    animation: lds-hourglass .8s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  .cover-spin {
    position:fixed;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    /* display:none; */
}

.cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;
    top:40%;
    width:40px;
    height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}