.text{
    text-align: center;
    font-weight: bold;
    flex: 1 1 auto;
    text-align: center;
    animation: fadeIn ease 4s;
}
.mat-toolbar{
  max-height: 30px;
}
.extra-spacer{
  flex: 1 1 auto;
}
  @keyframes fadeIn {
    0% {opacity: 0;
        transform: scale(0.50);
    }
    100% {opacity: 1;
        transform: scale(1);
    }
  }

  
    
